body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

multi-select {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  query {
    flex: 0 0 auto;

    display: flex;

    form {
      flex: 1 0 auto;

      display: flex;

      input {
        height: 1.25em;

        flex: 1 0 auto;

        display: block;

        text-align: center;

        line-height: 1em;
      }
    }
  }

  engines {
    position: relative;

    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;

    engine {
      flex: 1 1 auto;

      min-width: 50%;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      overflow: hidden;

      iframe {
        position: absolute;
        flex: 1 1 auto;

        width: 60%;
        height: 60%;

        transform: scale(0.825);
        transform-origin: 50% 50%;
      }
    }
  }
}