body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  &.color-scheme-dark {
    background-color: #111;
    color: #aaa;

    a {
      color: #090;
    }

    bar {
      background-color: #090;
    }

    time {
      color: #070;
    }

    input {
      background-color: transparent;
      color: inherit;
      border: solid 1px #333;
    }
  }
}

multi-select {
  max-width: 100%;

  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  query {
    flex: 0 0 auto;

    display: flex;

    button {
      display: inline-block;

      width: 1.25em;
    }

    form {
      flex: 1 0 auto;

      display: flex;

      input {
        height: 1.25rem;

        flex: 1 0 auto;

        display: block;

        text-align: center;

        font-size: 1.25em;

        line-height: 1em;
      }
    }
  }

  engines {
    position: relative;

    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;

    engine {
      flex: 1 1 auto;

      min-width: 50%;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      overflow: hidden;

      iframe {
        position: absolute;
        flex: 1 1 auto;

        width: 60%;
        height: 60%;

        transform: scale(0.825);
        transform-origin: 50% 50%;
      }
    }
  }

  results {
    display: flex;

    justify-content: stretch;

    overflow-y: auto;

    padding: 0.25em 1em;

    top {
      flex: 1 1 auto;

      max-width: 40vw;

      urls {
        display: block;

        url {
          display: flex;

          margin: 0.05em 0;

          word-break: break-word;

          engine-icons {
            flex: 0 0 auto;
          }
        }

        a {
          margin-left: 0.5em;
        }
      }
    }

    sites {
      display: flex;

      flex-direction: column;

      flex: 1 1 auto;

      max-width: 60vw;

      result {
        flex: 0 1 auto;

        engine {
          display: flex;

          align-items: flex-end;

          font-size: 0.75em;
          line-height: 1em;

          &>* {
            padding: 0 0.5em;
          }

          name {
            min-width: 4em;
          }

          .engine-icon {
            width: 2em;
          }

          time {
            font-size: 0.8em;

            color: #010;

            units {
              font-size: 0.8em;

              align-self: flex-end;
            }

            bar {
              display: inline-block;

              height: 0.3em;
              // margin-left: 0.5em;

              background-color: #009;
            }
          }
        }

        items {
          display: block;

          margin: 0.75em 0.5em;

          item {
            display: block;

            margin: 0.1em;

            a {
              cursor: pointer;
            }

            snippet {
              display: block;

              margin: 0.15em;

              transform: scale(0.8);
              transform-origin: 0 0;

              transition: transform 0.15s linear;
            }
          }

          more {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.engine-icon {
  width: 0.9em;
}

engine-icons {
  display: inline-block;

  width: 3.6em;

  text-align: right;
}